/build
/devel
/src/CMakeLists.txt
*.pyc
.vscode
src/ape_single/script/envs/map/*
src/ape_single/script/envs/path_map/*
src/ape_single/script/logs/*.log
!src/ape_single/script/envs/map/.gitkeep
!src/ape_single/script/envs/path_map/.gitkeep
